name: Test and lint
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

jobs:
  check:
    name: Test and lint
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Node setup
        uses: oven-sh/setup-bun@v2

      - name: Install and build
        run: |
          bun i
          bun run build
      - name: Publish package for testing branch
        run: npx pkg-pr-new publish || echo "Have you set up pkg-pr-new for this repo?"
      - name: Test
        run: |
          bun run test
          bun run typecheck
          bun run lint
